<div class="row" cg-busy="[vm.loadPromise, vm.addPromise, vm.addRootPromise, vm.updatePromise, vm.removePromise]">
    <div class="col-md-6">
        <div ba-panel ba-panel-title="组织机构" ba-panel-class="xmedium-panel">
            <div style="display: flex; justify-content: space-between; height: 100%; ">
                <div style="flex-basis: 200px;">
                    <div class="control-side text-center">
                        <div>
                            <button class="btn btn-primary" ng-click="vm.addNewNode()">添加</button>
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="vm.addNewRoot()">添加根节点</button>
                        </div>
                        <div>
                            <button class="btn btn-info" ng-click="vm.collapse()">折叠所有</button>
                        </div>
                        <div>
                            <button class="btn btn-info" ng-click="vm.expand()">展开所有</button>
                        </div>
                        <div>
                            <button class="btn btn-info" ng-click="vm.refresh()">刷新</button>
                        </div>
                    </div>
                </div>
                <div style="flex: 1; overflow-y: auto; margin-bottom: 50px;">
                    <div js-tree="vm.basicConfig" ng-model="vm.treeData" should-apply="vm.applyModelChanges()" tree="vm.basicTree" tree-events="ready:vm.readyCB;select_node:vm.selectNodeCB"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div ba-panel ba-panel-title="当前机构" ba-panel-class="with-scroll tree-panel">
            <div ng-if="vm.currentItem">
                <form name="form" id="form" ng-submit="vm.updateSubmit()" novalidate>
                    <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
                        <label for="name">名称</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="名称" ng-model="vm.currentItem.name" ng-required maxlength="50">
                        <span class="help-block sub-little-text">名称必填，长度不超过50。</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.order.$invalid}">
                        <label for="order">顺序</label>
                        <input type="number" class="form-control" step="1" id="order" name="order" placeholder="顺序" ng-model="vm.currentItem.order" ng-required>
                        <span class="help-block sub-little-text">顺序必填，必须是整数。</span>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">保存</button>
                    <button type="button" class="btn btn-danger" 
                        sweetalert sweet-options='vm.deleteSweetOptions' sweet-on-confirm="vm.remove()">删除</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>