<div class="modal-content" cg-busy="vm.updatePromise">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">编辑条目</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="form" name="form" ng-submit="vm.submitEdit()" novalidate>            
            <div class="form-group" ng-class="{'has-error': form.state.$invalid}">
                <label for="state" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" id="state" name="state" ng-model="vm.current.state" ng-options="v as k for (k, v) in vm.enums.lightAlarmState">
                            </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.isRepair.$invalid}">
                <label for="isRepair" class="col-sm-2 control-label">是否修复</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" id="isRepair" name="isRepair" ng-model="vm.current.isRepair" ng-options="v as k for (k, v) in vm.enums.lightAlarmIsRepair">
                            </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.reMark.$invalid}">
                <label for="reMark" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="reMark" name="reMark" placeholder="备注" ng-model="vm.current.reMark" maxlength="50"
                    ng-maxlength="50">
                    <p class="help-block">备注</p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
        <button type="submit" form="form" class="btn btn-primary" ng-disabled="form.$invalid">保存</button>
    </div>
</div>