<div class="modal-content" cg-busy="vm.addPromise">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">添加条目</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="form" name="form" ng-submit="vm.submitAdd()" novalidate>
            <div class="form-group" ng-class="{'has-error': form.order.$invalid}">
                <label for="order" class="col-sm-2 control-label">顺序</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="order" name="order" placeholder="顺序" ng-model="vm.current.order" ng-required="true">
                    <p class="help-block">顺序请填写整数。</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
                <label for="name" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="名称" ng-model="vm.current.name" maxlength="50"
                        ng-required="true" ng-maxlength="50">
                    <p class="help-block">名称不可为空，长度不超过50。</p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
        <button type="submit" form="form" class="btn btn-primary" ng-disabled="form.$invalid">保存</button>
    </div>
</div>