<div class="modal-remark" cg-busy="vm.addPromise">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">添加</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="form" name="form" ng-submit="vm.submitAdd()" novalidate>
            
            <div class="form-group" ng-class="{'has-error': form.groupInfoId.$invalid}">
                <label for="groupInfoId" class="col-sm-2 control-label">组</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" id="groupInfoId" name="groupInfoId" ng-model="vm.current.groupInfoId" ng-options="v.id as v.groupName for v in vm.groupInfos">
                                <option value="">---- 请选择组 ----</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.startTime.$invalid}">
                <label for="startTime" class="col-sm-2 control-label">开始时间</label>
                <div class="col-sm-10">
                    是否选中<input ng-model="vm.selectStartTime" type="checkbox">
                    <p class="input-group" style="margin-bottom: 0;">
                        <input type="datetime-local" class="form-control" id="startTime" name="startTime" 
                            ng-model="vm.current.startTime">
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.isUse.$invalid}">
                <label for="isUse" class="col-sm-2 control-label">是否启用</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" id="isUse" name="isUse" ng-model="vm.current.isUse" ng-options="v as k for (k, v) in vm.enums.tempTimeSchDetailIsUse">
                            </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.light.$invalid}">
                <label for="light" class="col-sm-2 control-label">亮度</label>
                <div class="col-sm-10">
                    <input type="number"  min=0 max=99 class="form-control" id="light" name="light" placeholder="亮度" ng-model="vm.current.light">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.makeTime.$invalid}">
                <label for="makeTime" class="col-sm-2 control-label">下达时间</label>
                <div class="col-sm-10">
                    是否选中<input ng-model="vm.selecTmakeTime" type="checkbox">
                    <p class="input-group" style="margin-bottom: 0;">
                        <input type="datetime-local" class="form-control" id="makeTime" name="makeTime" 
                            ng-model="vm.current.makeTime">
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.result.$invalid}">
                <label for="result" class="col-sm-2 control-label">返回结果</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" id="result" name="result" ng-model="vm.current.result" ng-options="v as k for (k, v) in vm.enums.tempTimeSchDetailResult">
                            </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.remark.$invalid}">
                <label for="remark" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="remark" name="remark" placeholder="备注" ng-model="vm.current.remark">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
        <button type="submit" form="form" class="btn btn-primary" ng-disabled="form.$invalid">保存</button>
    </div>
</div>